html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #05070d 0%, #000000 70%);
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
